@charset "UTF-8";
/* CSS Document */

/* Frame Work */

body {
	background:none;
	color:#000;
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
}

#wrapper {
	width:764px;
	height:1093px;
	padding:15px;
	margin:0;
}

#header {
	height:132px;
	width:764px;
	background:url(../images/logo.jpg) 25px 25px #000 no-repeat;
	padding: 0;
	margin:0 0 15px 0;
	position:relative;
}

.office {
	color:#FFF;
	font-size:20px;
	padding:0;
	margin:0;
	position:absolute;
	right:20px;
	bottom:20px;
}

.yellow {
	color:#FFD000;
}

#mainimage {
	height:509px;
	width:764px;
	padding:0;
	margin:0 0 15px 0;
}

#fullimage {
	height:880px;
	width:764px;
	padding:0;
	margin:0 0 15px 0;
}

#primary_info {
	width:764px;
	height:242px;
	padding:0;
	margin:0 0 15px 0;
}

#keyfacts {
	width:375px;
	height:242px;
	float:left;
	padding:0;
	margin:0 15px 0 0;
}

#summary {
	width:374px;
	height:242px;
	float:left;
	padding:0;
	margin:0;
}

#footer {
	height:165px;
	width:764px;
	padding: 0;
	margin:0;
	position:relative;
	background:none;
	clear:both;
}

#footer_mini {
	height:50px;
	width:764px;
	padding: 0;
	margin:0;
	position:relative;
	background:none;
	clear:both;
}

.webaddress {
	color:#FFF;
	font-size:20px;
	padding:0;
	margin:0;
	position:absolute;
	left:25px;
	bottom:20px;
}

#left_col {
	width:374px;
	height:946px;
	padding:0;
	margin:0;
	float:left;
}

#right_col {
	width:374px;
	height:946px;
	padding:0;
	margin:0 0 0 15px;
	float:right;
}

#image_box_one {
	width:374px;
	height:249px;
	margin:0 0 20px 0;
}

#image_box_two {
	width:374px;
	height:249px;
	margin:0 0 20px 0;
}

#image_box_three {
	width:374px;
	height:249px;
	margin:0 0 20px 0;
}

#contactdetails_box {
	width:374px;
	margin:0;
	padding:0;
	height: 120px;
}

.agentlogo {
	float:left;
	margin-right:10px;
}

/* Styles */

p {
	padding:0 0 20px 0;
	margin:0;
	font-size:12px;
}

.address {
	font-size:30px;
	font-weight:bold;
}

.tenure {
	font-size:45px;
	text-transform:uppercase;
	font-weight:bold;
	padding:10px 0;
}

.size {
	font-size:30px;
	font-weight:bold;
}

.main {
	color:#999;
}

.disclaimer {
	color:#999;
	font-size:8px;
}

h1 {
	padding:0;
	margin:0;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
}

.heading {
	border-bottom:1px solid #CCC;
	font-size:20px;
	padding:0 0 5px 0;
	margin:0 0 10px 0;
}

.satnav {
	font-size:15px;
	padding:5px 0 15px 0;
	text-transform:uppercase;
}

#left_col ul,
#right_col ul {
	padding:0 0 15px 13px;
	margin:0;
	list-style:square;
}

#left_col ul li,
#right_col ul li {
	padding:0;
	margin:0 0 5px 0;
	color:#333;
	font-size:12px;
}

#areatable {
	padding:0;
	margin:10px 0 15px 0;
	border-collapse:collapse;
	text-align:left;
}

#areatable th {
	padding:0 0 3px 0;
	margin:0;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	border-bottom:1px solid #999;
}

#areatable td {
	padding:3px 0;
	margin:0;
	color:#999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

#areatable .right {
	text-align:right;
}

#areatable .totals {
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	border-top:1px solid #999;
}
